<!DOCTYPE html>



<html>
<center>
<header>
	<h1>Thank you for confirming your pairs.</h1>
</header>

<body>
<form method="pos" action = "/confirmed_pairs">
	<%names.each do |group|%>
	<center><p> ~ <%=group%> </p></center>
	<%end%> 
	<p>Now let's get to work!!!</p>
</center>
</body>
</html>