
<!DOCtype HTML>

<link rel ="stylesheet" href ="css/style.css">
<html lang="en">
<center><h4 class = "text"> And your pairs are : <br><p>


<form method = "post" action = "/confirmed_pairs">
	<% pair.each do |group|%>
	<p><input  type="checkbox"  value= '<%=group%>' name= 'names[]'><%=group%> </p>	
	<%end%>
 <input type="submit" name="confirm" value="confirm">
</form>




</center>




