

<!DOCtype HTML>

<link rel ="stylesheet" href ="css/newstyle.css">
<html lang="en">
<center><h1 class = "text"> And your pairs are : <br><p>
<input type="checkbox"><%=pair%></p></h1><br>

<form class = "text" method = "post" action = "pairs">



<input type = "submit">
</center>



